@using EleWise.ELMA.CRM.Web.Extensions
@using EleWise.ELMA.CRM.Models
@using EleWise.ELMA.Model.Entities
@using Yambr.ELMA.Email.Models
@using Yambr.ELMA.Email.Web
@model IContractorBaseModel
@{
    var contractor = Model.Contractor as IContractorExt;
  //  Html.RegisterCssSrc(RouteProvider.Content + "css/app.css");
    Html.RegisterScriptSrc(RouteProvider.Scripts + "js/manifest.js");
    Html.RegisterScriptSrc(RouteProvider.Scripts + "js/vendor.js");
    Html.RegisterScriptSrc(RouteProvider.Scripts + "js/app.js");
}
<link href="@(RouteProvider.Content + "css/app.css")" rel="stylesheet">


@if (contractor != null)
{
    <div id="app"></div>
    Html.RenderInZone("Scripts", @<text>
    <script type="text/javascript">
        $(document).ready(function() {
            window.emailMessagesInit(@contractor.Id, "Contractor");
        });
    </script>
    </text>);
}